<mat-divider></mat-divider><br>

<app-checkbox-autocomplete-filter
  title="Marcas"
  [data]="brandService.list()"
  column="name"
  (changedValues)="changedCheckbox('brand', $event)"
></app-checkbox-autocomplete-filter>

<mat-divider></mat-divider><br>

<app-checkbox-autocomplete-filter
  title="Categorías"
  [data]="categoryService.list()"
  column="name"
  (changedValues)="changedCheckbox('category', $event)"
></app-checkbox-autocomplete-filter>

<mat-divider></mat-divider><br>

<app-checkbox-autocomplete-filter
  title="Línea de Producto"
  [data]="productLineService.list()"
  column="name"
  (changedValues)="changedCheckbox('line', $event)"
></app-checkbox-autocomplete-filter>

<mat-divider></mat-divider><br>

<app-checkbox-filter
  title="Estados"
  [data]="productStatusService.list()"
  column="name"
  (changedValues)="changedCheckbox('status', $event)">
</app-checkbox-filter>

<mat-divider></mat-divider><br>

<app-checkbox-filter
  title="Manufactura"
  [data]="manufacturerTypeService.list()"
  column="name"
  (changedValues)="changedCheckbox('manufacturer_type', $event)">
</app-checkbox-filter>

<mat-divider></mat-divider><br>

<app-checkbox-autocomplete-filter
  title="Unidades Estratégicas"
  [data]="uenService.list()"
  column="name"
  (changedValues)="changedCheckbox('uen', $event)"
></app-checkbox-autocomplete-filter>

<mat-divider></mat-divider><br>

<app-checkbox-filter
  title="Unidad de Medida"
  [data]="uomService.list()"
  column="code"
  (changedValues)="changedCheckbox('uom', $event)">
</app-checkbox-filter>

<mat-divider></mat-divider><br>
