.two-column {
  display: table;
  width: 100%
}

.two-column > div:first-child {
  display: table-cell;
  width: 20%;
  vertical-align:top;
}

.two-column > div:last-child {
  display: table-cell;
  width: 80%
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.grid> * {
  flex: 1 1 250px;
  margin: 5px;
}

.block-button {
  width: 100%;
  padding: 8px;
  margin: 8px;
}

.right {
  text-align: right;
}

.search-card {
  padding: 10px;
  margin: 10px;
}

.search-card mat-form-field {
  width: 100%;
}
